# Machine Learning
#### Semester: Spring 2020
Ana Claudia Alferes (M20190932)

In [98]:
import plotly.graph_objects as go
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

In [93]:
data = pd.read_csv('train.csv')
data= data.fillna(-1)

In [110]:
data["DummyGender"] = data.Gender.apply(lambda x: 1 if x=="male" else 0) #Male = 1 , Female = 0

le = preprocessing.LabelEncoder()
le.fit(data['Marital_status'])
data["encoded_Marital"] = le.transform(data['Marital_status'])

le = preprocessing.LabelEncoder()
le.fit(data['Department'])
data["encoded_Department"] = le.transform(data['Department'])

le = preprocessing.LabelEncoder()
le.fit(data['Churn_risk'])
data["encoded_Churn"] = le.transform(data['Churn_risk'])

In [111]:
data.corr()["encoded_Churn"].sort_values(ascending = False )

encoded_Churn         1.000000
Overtime              0.228538
Rotations             0.099513
DummyGender           0.064690
Kids                  0.040649
encoded_Marital       0.021250
Emails                0.012250
Employee_ID           0.005568
Distance              0.005010
encoded_Department   -0.013355
Age                  -0.023837
Satis_leader         -0.036756
Tenure               -0.044936
Satis_team           -0.113514
Bonus                -0.156972
Days_off             -0.203102
Name: encoded_Churn, dtype: float64

In [101]:
dt = data.iloc[:,[2,3,4,5,6,7,8,9,10,12,16,17,18]]
target = data.iloc[:,-1]

print(dt.columns)
data.columns

Index(['Age', 'Days_off', 'Rotations', 'Satis_leader', 'Satis_team', 'Emails',
       'Tenure', 'Bonus', 'Distance', 'Overtime', 'DummyGender',
       'encoded_Marital', 'encoded_Department'],
      dtype='object')

Index(['Employee_ID', 'Gender', 'Age', 'Days_off', 'Rotations', 'Satis_leader',
       'Satis_team', 'Emails', 'Tenure', 'Bonus', 'Distance', 'Kids',
       'Overtime', 'Marital_status', 'Department', 'Churn_risk', 'DummyGender',
       'encoded_Marital', 'encoded_Department', 'encoded_Churn'],
      dtype='object')

In [102]:
model = LinearRegression()
rfe = RFE(estimator = model)
X_rfe = rfe.fit_transform(X = dt, y = target) 
model.fit(X = X_rfe,y = target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [103]:
rfe.support_

array([False,  True, False, False,  True, False, False,  True,  True,
        True,  True, False, False])

In [104]:
rfe.ranking_

array([7, 1, 5, 2, 1, 6, 3, 1, 1, 1, 1, 8, 4])

In [105]:
selected_features = pd.Series(rfe.support_, index = dt.columns)
selected_features

Age                   False
Days_off               True
Rotations             False
Satis_leader          False
Satis_team             True
Emails                False
Tenure                False
Bonus                  True
Distance               True
Overtime               True
DummyGender            True
encoded_Marital       False
encoded_Department    False
dtype: bool

In [157]:
data_num = data.loc[:,["Days_off","Rotations","Satis_leader","Satis_team","Tenure","Emails","Tenure","Bonus","Distance","Overtime"]]
scaler = MinMaxScaler()
data_norm = pd.DataFrame(scaler.fit_transform(data_num), columns=data_num.columns)

In [158]:
df = pd.concat([data_norm.loc[:,["Days_off","Satis_leader","Satis_team","Bonus","Distance","Overtime"]], (data.loc[:,["DummyGender","encoded_Department"]]).reset_index(drop=True)], axis=1)
target = data["encoded_Churn"]

In [159]:
X_train, X_val, y_train, y_val = train_test_split(data_norm, target, test_size=0.25, random_state=5)

In [160]:
log_model = LogisticRegression()

In [161]:
log_model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [162]:
y_pred = log_model.predict(X_val)
y_pred

array([2, 1, 2, ..., 2, 1, 1])

In [163]:
pred_prob = log_model.predict_proba(X_val)
pred_prob

array([[0.01199569, 0.40748052, 0.58052379],
       [0.00897663, 0.5792945 , 0.41172887],
       [0.11891995, 0.04816313, 0.83291692],
       ...,
       [0.01392407, 0.32747269, 0.65860323],
       [0.00698637, 0.50225978, 0.49075385],
       [0.00178812, 0.8268123 , 0.17139958]])

In [164]:
accuracy_score(y_val, y_pred)

0.7015384615384616

In [165]:
f1_score(y_val, y_pred, average="micro")

0.7015384615384616

# Test Dataset

In [154]:
test = pd.read_csv('test.csv')
test= test.fillna(-1)

test["DummyGender"] = test.Gender.apply(lambda x: 1 if x=="male" else 0) #Male = 1 , Female = 0

le2 = preprocessing.LabelEncoder()
le2.fit(test['Marital_status'])
test["encoded_Marital"] = le2.transform(test['Marital_status'])

le2 = preprocessing.LabelEncoder()
le2.fit(test['Department'])
test["encoded_Department"] = le2.transform(test['Department'])

test_num = test.loc[:,["Days_off","Rotations","Satis_leader","Satis_team","Emails","Tenure","Bonus","Distance","Overtime"]]
scaler = MinMaxScaler()
test_norm = pd.DataFrame(scaler.fit_transform(test_num), columns=test_num.columns)

df_test = pd.concat([test_norm.loc[:,["Days_off","Satis_leader","Satis_team","Bonus","Distance","Overtime"]], (test.loc[:,["DummyGender","encoded_Department"]]).reset_index(drop=True)], axis=1)

In [155]:
labels_test = log_model.predict(test_norm)
le.inverse_transform(labels_test)

test["Churn_Risk"] = le.inverse_transform(labels_test)

csv = test.iloc[:,[0,-1]]
csv.to_csv('m20190932_version5.csv',index=False)

In [156]:
a = pd.read_csv('m20190932_version5.csv')
a

      Employee_ID Churn_Risk
0         1005201        low
1         1005202     medium
2         1005203        low
3         1005204     medium
4         1005205     medium
...           ...        ...
1295      1006496     medium
1296      1006497     medium
1297      1006498        low
1298      1006499        low
1299      1006500        low

[1300 rows x 2 columns]